:root {
    --primary: #25ae4c;
    --bg: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #000;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--bg);
    border-bottom: 1px solid var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 9999;
}

.navbar .navbar-nav {
    margin-left: 5rem;
}

.navbar .navbar-nav a {
    color: #000;
    display: inline-block;
    font-size: 1.3rem;
    padding-left: 8rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a {
    color: #000;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#search-button {
    padding-left: 15rem;
}

#hamburger-menu {
    display: none;
}

.btn {
    background-color: var(--bg);
    border: 2px solid var(--primary);
    border-radius: 30px;
    font-size: 1.3rem;
    color: var(--primary);
    cursor: pointer;
    padding: 8px 20px;
    margin-left: 2px;
}

.btn:hover {
    background-color: var(--primary);
    color: var(--bg);
}

/* Navbar search form */
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: var(--primary);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}

.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--bg);
    background-color: var(--primary);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg);
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
/* Tablet */
@media (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
        margin-left: 0.5rem;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--bg);
        display: block;
        margin: 0.5rem;
        font-size: 1.3rem;
        padding-left: 0;
    }

    .navbar .navbar-nav a:hover {
        color: #000;
    }

    .navbar .navbar-nav a::after {
        border-bottom: 0.1rem solid #000;
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .search-form {
        width: 90%;
        right: 2rem;
    }

    #search-button {
        padding-left: 2rem;
    }

    .btn {
        display: none;
    }

    /* Mobile Phone */
    @media (max-width: 450px) {
        html {
            font-size: 55%;
        }
    }
}
